[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tinydb="*"
pyyaml = "*"
glom = "*"
selenium = "*"
google-api-python-client = "*"
google-cloud-storage = "*"
sqlalchemy = "*"
python-logging-base = {git = "https://github.com/praecipula/python_logging_base.git"}

[dev-packages]

[requires]
python_version = "3"
