<!DOCTYPE html>
<meta charset="utf-8">
<title>Dynamic qr code</title>
<head>
  {% include gtag.html %}
</head>
<body>
  <hr />
  {{content}}
  <hr />
  {% assign errorlevel = "M" %}
  {% if page.errorlevel %}
    {% assign errorlevel = page.errorlevel %}
  {% endif %}
  <div class="qrcode-container" data-code-content="matt.directory/qr" data-error-correction="{{errorlevel}}" data-render-dynamic="true"></div>
  <script src="/assets/js/webapp.js"></script>
  <link href="/assets/css/webapp.css" rel="stylesheet">
</body>
