<!DOCTYPE html>
<meta charset="utf-8">
<title>Redirecting to {{page.redirect}}</title>
{% include redirect_meta.html %}
<head>
  {% include gtag.html %}
</head>
<body>
  {% include redirect_message.html %}
  <hr />
  {{content}}
  <hr />
  {% include maps_directions.html %}
  <a href="{{page.redirect}}">
    <div class="qrcode-container" data-code-content="matt.directory{{page.url}}" data-icon-url="/assets/img/emoji/{{page.emoji}}.png" data-error-correction="L"></div>
  </a>
  <script src="/assets/js/webapp.js"></script>
  <link href="/assets/css/webapp.css" rel="stylesheet">
</body>
