<!DOCTYPE html>
<meta charset="utf-8">
<title>Enter password to continue</title>
<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-0TMRHMVW8W"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-0TMRHMVW8W');
  </script>
</head>
<body>
  {{content}}
  <hr />
  <div class="qrcode-container" data-code-content="{{page.qrcode}}" data-icon-url="/assets/img/emoji/{{page.emoji}}.png" data-error-correction="H"></div>
  <div class="password-redirect-container" data-redirect-to="{{page.slug}}" data-wait-time="{{page.wait}}"></div>
  <script src="/assets/js/webapp.js"></script>
  <link href="/assets/css/webapp.css" rel="stylesheet">
</body>
