<!DOCTYPE html>
<meta charset="utf-8">
<title>Links for themed collection</title
<head>
<body>
  {{content}}
  {%- assign all_non_index = site.themed_collection | where_exp:"item","item.title != 'Index'" %}
  {% for theme_item in all_non_index | sort: 'title' %}
  <h2>
    <a href="{{ theme_item.url }}">{{theme_item.title}}</a>
  </h2>
  {% endfor %}
  <script>
    const root = ReactDOM.createRoot(
      document.getElementById('root') as HTMLElement
    );
    root.render(
      <React.StrictMode>
        <App />
        <div id="someotherdiv" />
      </React.StrictMode>
    );
  </script>
</body>
